body {

  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  align-self:center;
max-width: 1440px;
padding: 50px 128px 150px 128px;
margin-left: auto;
margin-right: auto;
}

ul {
  list-style: none;
}

img {
  display: block;
  margin: 0;
}

